{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="container text-capitalize text-lg-center">
<div class="jumbotron">
<h1>{% trans "Sign In" %}</h1>

<p>{% blocktrans with site.name as site_name %}Нет аккаунта? <a href="{{ signup_url }}"> Регистрация!</a>
{% endblocktrans %}</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
<div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 text-right text-lg-right">
  {% csrf_token %}
  {{ form.as_p }}
</div>
  {% if redirect_field_value %}
  <input type="hidden" class="btn btn-primary" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
<div class="col-md-7 text-lg-right">
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class = "btn btn-primary btn-lg" role = "button" type="submit">{% trans "Sign In" %}</button>
</div>
</form>

{% endblock %}
</div>
</div>