<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="{% static "css/user_profile.css" %}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if request.user.profile.first_name == "" %}
    <p class="proile-rating">Looks like you don't have an account</p>
    <div class="col-md-2">
        <a href="{% url 'update'%}" class="btn btn-primary btn-lg enabled" role="button" aria-disabled="true">Create now!</a>
    </div>
{% else %}
    <div class="container emp-profile">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    {% if messages %}
            {% for message in messages %}
                <div {% if message.tags == 'success' %} class="alert alert-success"
                            {% elif message.tags == 'error' %}
                                                        class="alert alert-danger"
                            {% endif %} role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{{ request.user.profile.profile_picture.url }}" alt="profile picture"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                            <h6>
                                <p>{{request.user.profile.last_name}} {{request.user.profile.first_name}} {{request.user.profile.otchestvo}}</p>
                            </h6>
                            <h6>
                                {% if request.user.profile.sex == False %}
                                    <p>Женщина</p>
                                {% else %}
                                    <p>Мужчина</p>
                                {% endif %}

                                <p>{{request.user.profile.family}}</p>
                            </h6>
                                <p class="proile-rating">Birth date : <span>{{ request.user.profile.birth_date}}</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Personal info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#account" role="tab" aria-controls="profile" aria-selected="false">Account info</a>
                                </li><li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#deposit" role="tab" aria-controls="profile" aria-selected="false">Deposits and loans</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="{% url 'update'%}" class="btn btn-primary btn-lg enabled" role="button" aria-disabled="true">Edit Profile</a><br>
                        <a href="{% url 'account_logout'%}" class="btn btn-primary btn-lg enabled" role="button" aria-disabled="true">Logout</a>
                        <a href="{% url 'delete'%}" class="btn btn-primary btn-lg enabled" role="button" aria-disabled="true">Delete</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>Email</p>
                            <a href="">{{ request.user.email }}</a><br/>
                            <a href="">{{ request.user.profile.invalid}}</a><br/>
                            <a href="">Bootply Profile</a>
                            <p>SKILLS</p>
                            <a href="">Web Designer</a><br/>
                            <a href="">Web Developer</a><br/>
                            <a href="">WordPress</a><br/>
                            <a href="">WooCommerce</a><br/>
                            <p class="proile-rating">Date joined : {{ request.user.date_joined}}</p><br/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ request.user.username }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{request.user.profile.first_name}} {{request.user.profile.last_name}} {{request.user.profile.otchestvo}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{request.user.profile.last_name}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Passport</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ request.user.profile.seria_pasporta }}{{ request.user.profile.passport_number }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Mobile phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ request.user.profile.mobile_phone }}</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Account balance</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ request.user.profile.account.current_balance }} руб.</p>
                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="submit"><a href="{% url 'account'%}">Add cash</a></button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="deposit" role="tabpanel" aria-labelledby="profile-tab">
                                {% if request.user.profile.deposits.deposit_value == 0 %}
                                    <div class="row">
                                            <div class="col-md-6">
                                                <label>You don't have a deposit</label>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="submit"><a href="{% url 'deposit_form'%}">Create a deposit</a></button>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row">
                                    <div class="col-md-6">
                                     <label>Deposit balance</label>
                                    </div>

                                    <div class="col-md-6">
                                     <p>{{ request.user.profile.deposits.deposit_value }} руб.</p>
                                    </div>

                                    <div class="col-md-6">
                                        <label>Deposit type</label>
                                    </div>

                                    <div class="col-md-6">
                                        <p>{{ request.user.profile.deposits.deposit_type }}</p>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
{% endif %}
</body>
</html>